html:not([data-theme]) body {
  display: none;
}
body {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  font-family: "JetBrainsMono-Medium", "Verdana";
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
  position: relative;
  overflow-y: hidden;
}
th {
  font-weight: 400;
}
.container,
#option_bar {
  max-width: 99%;
}
/* Базовый стиль (Mobile First) */
.container,
#option_bar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
.btn {
  color: var(--text-secondary);
}
.btn:hover {
  color: var(--hover-text);
}

/* Планшеты (от 768px) */
/* @media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
} */

/* Десктопы (от 1024px) */
/* @media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
} */

/* Большие мониторы (от 1440px) */
@media (min-width: 1440px) {
  .container,
  #option_bar {
    max-width: 1320px;
  }
}
