.container {
  padding-top: 10px;
}
.input_stat_block {
  padding: 0 15%;
}
.input_stat_header {
}
.description_input_wrapper > * {
  display: block;
}
.description_input_wrapper {
  display: flex;
  justify-content: space-between;
}
