.contentInfo {
    position: relative;
    width: 100%;
    border-top: 1px solid red;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.renderContent {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
